.cards {
  max-width: auto;
  max-height: auto;

  border-radius: 10px;

  padding: 6px;

  color: #d5c4a1;

  font-family: "JetBrains Mono", monospace;

  background: #282828;
}

.open {
  position: absolute;
  top: 200px;
  left: 200px;

  width: 10rem;
  height: 10rem;

  background-color: antiquewhite;
}
