.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2rem;
  width: 12rem;
  min-width: 10rem;

  color: antiquewhite;
  background: #181a18;

  border-radius: 12px;
  border: #458588 2px solid;
}

.container:hover {
  background: #458588;
}
.icon {
  background: #3c3836;
}
.icon:hover {
  background: #458588;
}

.shell {
  background: #001d2021;

  padding: 1rem;

  border-radius: 12px;

  height: 100%;

  backdrop-filter: blur(10px);

  box-sizing: border-box;
}
