.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2rem;
  width: 20rem;

  color: antiquewhite;
  background: #3c3836;

  margin-top: 1em;

  border-radius: 12px;
  border: #458588 2px solid;
}

.container:hover {
  background: #458588;
}
.icon {
  background: #3c3836;
}
.icon:hover {
  background: #458588;
}
