.board {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  width: 20rem;
  min-height: auto;

  background: #3c3836;

  border: #458588 2px solid;
  border-radius: 12px;
}

.card-area {
  background: #7c6f64;

  border-radius: 10px;

  height: 1rem;
  width: auto;
}

.heading-area {
  width: auto;

  font-family: "JetBrains Mono", monospace;
}

.input {
  width: 100%;

  font-size: 20px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 200;

  color: #458588;
  background: #282828;

  box-shadow: none;
  text-shadow: none;

  border: #458588 2px solid;
  border-radius: 4px;

  padding: 2px;
}

.heading {
  font-size: 20px;
  font-weight: 200;

  color: #458588;

  padding: 2px;
}
