.board {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  width: 16rem;
  min-width: 10rem;

  background: #181a18;

  border-radius: 12px;
}

.card-area {
  display: flex;
  flex-direction: column;
  gap: 5px;

  background: #7c6f64;

  border-radius: 10px;

  height: auto;
  width: auto;

  padding: 5px;
  position: relative;
}

.heading-area {
  width: auto;

  font-family: "JetBrains Mono", monospace;
}

.input {
  width: 100%;

  font-size: 20px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 200;

  color: #458588;
  background: #282828;

  box-shadow: none;
  text-shadow: none;

  border: #458588 2px solid;
  border-radius: 4px;

  padding: 2px;
}

.heading {
  font-size: 20px;
  font-weight: 200;

  color: #458588;
  background: #181a18;

  padding: 2px;
}

.board-replacer {
  background: #458588;

  width: 18rem;

  border-radius: 12px;
}

.rows {
  background: #001d2021;
  backdrop-filter: blur(10px);

  padding: 1rem;

  border-radius: 12px;

  height: 100%;

  box-sizing: border-box;
}

.dragging {
  position: relative;

  z-index: 999;
}
